
.menu-headers ul li:hover{
    cursor: pointer;
    /* outline: 1px solid black; */
    outline: 1px solid gray;
    border-radius: 3px;
}

.menu-items a{
    display: block;
    text-decoration: none;
    padding: 15px 5px;
    color: black;
    font-weight: lighter;
}

.menu-items a:hover{
    background-color: #F0F0F0;
    cursor: pointer;
}

.search-box{
    width: 100%;
    margin: 0 auto;
}
.search-button{
    border-radius: 5px 0 0 5px;
}